.logo:hover {
	color:#ffffff;
	text-decoration:none;
}
.list a {
    color: #000;
}
div.course-desc {
	background:#D3D3D3;
	padding:15px;
	border-radius:10px;
	font-size:1.25em;
}
footer {
	background:#8c8b8d;
	padding:15px;
	color:#ffffff;
	bottom:0;
	width:100%;
	min-height: 150px;
	clear: both;
}
ul.v-links {
	float:right;
	list-style-type: none;
}
p.copyright {
	float:left;
}
.course-btn {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
a.dimmed, a.dimmed:hover {
	color: #a8abaf;
}

.slide-img-preview {
	padding-top: 10px;
	padding-bottom: 10px;
	width: inherit;
}

.profile-left {
	float: left;
	width: 33%;
	
}

.profile-right {
	float: right;
	width: 67%;
}

.slideshow-left {
	float: left;
	width: 30%;
}

.slideshow-right {
	text-align: right;
	width: 68%;
	float: right;
}

.profile-image {
	width: 85%;
}

.confirm-delete {
	display: inline;
}


